{% extends 'base_template/base.html' %}
{% load static %}

   {% block content %}
    
      <div class="service-banner-img  ">
         <div class="ovrllay">
            <!-- Header_Area -->
            {% include 'base_template/header.html' %}
            <!-- End Header_Area -->
            <!-- #banner start -->
            <section id="banner" class="py-70" >
               <div class="container ">
                 <div class="row py-70 ">
                     <!-- #banner-text start -->            
                     <div id="banner-text" class="col-md-12 text-c  ">
                        <div class="left-borders">
                  
                           <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">BLOG AREAS</h5>
                           <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"><span class="c_yellow"> BLOG AREAS
</span>  | ORR <br>AND ITS ATTORNEYS </p>
                        </div>
                      
                     </div>
                     <!-- /#banner-text End -->
                  </div>
                 
               </div>
            </section>
         </div>
      </div>
  
      <!-- /#banner end -->
      <!-- #blog Us Area start -->
     
    <section class="blog-area ptb-140 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/1.jpg" alt="">
                            </div>
                            <div class="blog-content wow fadeInUp">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html">wonderful serenity has taken</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/2.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html">of my entire soul</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p> 
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/3.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html">serenity has taken possession</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mt-50 wow fadeInUp">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/4.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html"> suffered have majority</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mt-50 wow fadeInUp">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/5.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html">majority have suffered</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mt-50 wow fadeInUp">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/6.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-single.html">majority have suffered</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog-single.html" class="btn btn-default btn_font_16">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="pagination-wrap mt-50 wow fadeInUp">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>



  <!-- #End blog Us Area  -->




   <!-- #partners Us Area start -->
    
      <div class="our_partners_area bg_gradient_team">
         <div class="book_now_aera ">
            <div class="container">
              <div class="row book_now">
                  <div class="col-md-7 booking_text">
                     <h4>Lorem Ipsum is simply dummy text of the printing and<br> typesetting industry.
                     </h4>
                     <p>Get started for free to see who your customers are, what they do and what keeps them coming back.</p>
                  </div>
                  <div class="col-md-5 p0 book_bottun">
                     <div class="col-md-5">
                     </div>
                     <div class="col-md-7">
                        <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                           <a id="#services" href="contact.html" class="btn btn-primary radius-50  wow fadeInUp  js-scroll-trigger" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Free Consultation</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    {% endblock %}