{% load static %}
<!--#start Our footer Area -->
<div class="our_footer_area">
    <div class="book_now_aera ">
       <div class="container wow fadeInUp">
          <div class="row book_now">
             <div class="col-md-4">
                <div class="">
                   <a class=" logo-biss" href="index.html"> Star Law Firm</a>
                </div>
                <p class="footer-h">It is a long established fact that a <br>reader will be distracted by the <br> readable content.</p>
                <div class="bigpixi-footer-social">
                   <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                   <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                   <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                </div>
             </div>
             <div class="col-md-1 ">
             </div>
             <div class="col-md-3">
                <h2 class="footer-top">QUICK LINKS </h2>
                <ul class="footer-menu">
                   <li><a href=""> HOME        </a></li>
                   <li><a href="">THE FIRM  </a> </li>
                   <li><a href="">PRACTICE AREAS    </a> </li>
                   <li><a href="">   NEWS & RESOURCES   </a> </li>
                   <li><a href="">  CONTACT  </a> </li>
                </ul>
             </div>
             <div class="col-md-4">
                <ul class="location">
                   <h2 class="footer-top">Contact Info </h2>
                   <li class="footer-left-h">505 Thornall St #301, <br>Edison, NJ 08837, USA</li>
                   <li class="footer-left-h"><span class="c_yellow">Email :</span>
                      <a href=""> enquiry@demo.com </a>
                   </li>
                   <li class="footer-left-h"><span class="c_yellow">Call Us: </span>+1- 982-8-587 452
                   </li>
                </ul>
             </div>
             <div class="col-md-12">
                <p class="color-gray"> Designed by <a href="https://www.navthemes.com">NavThemes </a> and distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--#End Our footer Area -->